
<!--&lt;!&ndash;  pipes  &ndash;&gt;-->

<!--<div>-->
<!--  {{title}}-->
<!--</div>-->
<!--<div>-->
<!--  {{title | lowercase}}-->
<!--</div>-->
<!--<div>-->
<!--  {{title | uppercase}}-->
<!--</div>-->
<!--<div>-->
<!--&lt;!&ndash;  {{users | json}}&ndash;&gt;-->
<!--  <br>-->
<!--  {{title | json}}-->
<!--</div>-->
<!--<div>-->
<!--  {{num | number}}-->
<!--  <br>-->
<!--  {{num | number : '1.0-0'}}-->
<!--  <br>-->
<!--  {{12345.67890 | number : '23.2-3'}}-->
<!--</div>-->
<!--<div>-->
<!--  {{dates | date : 'yyyy-MM-dd hh:mm:ss' : 'GMT+2'}}-->
<!--</div>-->


<!--<div>-->
<!--{{title | myPipeAddRandomNumber : 3}}-->
<!--</div>-->




<!--&lt;!&ndash;  derective  &ndash;&gt;-->
<app-somethink></app-somethink>

<br>

<div *ngFor="let u of users">
  {{u.id}} -- {{u.name}}
</div>
<hr>
<br>

<div *ngFor="let u of users">
  <div *ngIf="u.id > 7">
    {{u.id}} - {{u.name}} --- {{u.username}}
   </div>
</div>
<hr>
<br>

<div *ngFor="let u of users">
  <div [ngSwitch]="u.name">
    <p *ngSwitchCase="'Clementine Bauch'">
              this is good user => {{u.name}}
    </p>
    <p *ngSwitchCase="'Chelsey Dietrich'">
      this is bed user => {{u.name}}
    </p>
    <p *ngSwitchCase="'Piter Chill'">
      this is good user => {{u.name}}
    </p>
  </div>
</div>
<hr>
<br>


<div *ngFor="let u of users" [ngStyle]="{textAlign: 'center'}">
  {{u.id}} -- {{u.name}}
</div>
<hr>

<div *ngFor="let u of users" [ngStyle]="{color: u.name === 'Chelsey Dietrich' ? 'red' : 'green', backgroundColor: 'black'}">
  {{u.id}} -- {{u.name}}
</div>
<hr>

<div *ngFor="let u of users" [ngClass]="{cont: true}">
  {{u.id}} -- {{u.name}}
</div>
<hr>

<div *ngFor="let u of users" [ngClass]="{la: u.id > 7, be: u.id < 7}">
  {{u.id}} -- {{u.name}}
</div>
<hr>
<br>
<br>



<div *ngFor="let u of users" appFontSize22>
  {{u.id}} -- {{u.name}}
</div>
